# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
**/.env*
add-env.ps1

# vercel
/.vercel

# backups
*.zip
*.tar.gz
*.rar

# temp media and debug
temp_media_*
diag_out*.json
/autopost/debug_*
/autopost/temp_media_*
/autopost/inspect_*.js
/autopost/test_*.js
/autopost/auth/*.json
/autopost/*.html
/autopost/*.png
/autopost/*.mp4
*.log

# ignore root temp media
/*.mp4
/*.png
!/public/**
